html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.mainView {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: khaki;
    color: darkseagreen;
    text-align: center;
    font-size:22px ;
    font-weight: bold;
}

.mainView h1 {
    margin: 0;
}

.mainView_link{
    font-size: 44px;
    color: gray;
}

.mainView a {
    text-decoration: none ;
}
.mainView a:hover {
    color: darkgoldenrod;
}

.img_home {
    width: 50%; /* 50% aktualnej szerokości */
    height: auto;
}
